# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Eclipse
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.buildpath
.project

# Silverstripe default installation
assets/*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
build/composer.phar
.buildpath
.project
.settings
.idea
.DS_Store
vendor/

# Silverstripe module
cms
framework
blog
comments
widgets
gridfield-bulk-editing-tools
lumberjack
reports
siteconfig
tagfield
build/build.properties
*.log